#file{
	padding: 5;
}
#tabs{
	border-style: groove;
	padding: 10;
	width: 300;
}
#words,#entries{
	padding: 10;
	color: white;
	background: grey
}
#content{
	float:left;
	overflow:auto;
	border-style: groove;
	padding: 10;
	background: lightgrey;
	min-width: 300;
	max-height: 500;
}
#current{
	position: fixed;
	top:0;
	right:0;
	top-margin: 100;
	padding: 10;
	border-style: groove;
	background: lightgrey;
	min-width: 300;
}
#add{

}