#file{
	padding: 5;
}
#tabs{
	border-style: groove;
	padding: 10;
	width: 300;
}
#words,#entries{
	padding: 10;
	color: white;
	background: grey
}
#content{
	float:left;
	border-style: groove;
	padding: 10;
	background: lightgrey;
	min-width: 300;
}
#current{
	float: right;
	top-margin: 100;
	padding: 10;
	background: lightgrey;
	min-width: 300;
}
#add{

}